DATABASE_URL=
DEV_PROJECT_URL="http://localhost:3000"
PROD_PROJECT_URL=
JWTSECRET="YOUR_SECRET_KEY"
JWTEXPIRESIN="EXPIRATION_TIME ex: '1d'"
SENDGRID_API_KEY="your_sendgrid_api_key"
EMAIL_SENDER="example@domain.com"
NAME_SENDER="noreply@sender"
